<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot pass</title>
</head>

<body>
    <h1>reset password!</h1>
    <form action="/forgotpass" method="post">
        <label>username<input type="text" name="username"></label>
        <label>enter new password<input type="text" name="password"></label>
        <button>update password</button>
    </form>
</body>

</html>