#movieline{
    display: flex;
}
#movieline img{
    height: 8rem;
    /* align-self: center; */
}
#movieline>img{
    align-self: center;
}
#timer{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}
#entered{
    color: grey;
    text-align: center;

}
#walkway{
    display: flex;
    flex-direction: column;
    width:80%;
    /* align-items: center; */
    
}
#walkway #queueDisplay{
    text-align: center;
}
form{
    
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}